<div class="row" style="background: #edecec; color: #393f4f">
<h1 style="font-size: 48px; margin-bottom: 5px;"> Apple Mac Accessories & Parts from Australia</h1>
<p style="    margin: 0 0 15px;
    line-height: 1.5; text-align: center; font-size: 26px; "> Welcome to Australia's largest online store with upgrades and accessories for Mac, iPhone and iPad</p>
</div>

====================

<div class="row">
<div class="col-md-1"> </div>
<div class="col-md-10"> 
<div class="row">
	<p>Need help with upgrades for your Macbook? Trying to find replacement parts for your iPhone or other Apple accessories? Macfixit Australia is here to help you!

Established in 2005, Macfixit Australia is a Melborne-based company specializing in Apple accessories and Mac parts. We carry a variety of products for Apple devices, including: replacement batteries, cables and adapters, video and sound equipment, docks and stands, cases and bags, input devices and cleaning supplies.

Need something more than a case for your iPhone or a battery for your Apple Watch? We also carry both internal and external hard drives, rack and server storage solutions, Blu-ray/CD/DVD burners and other Mac parts. We can even help you determine the best audio and video setup for your Macbook based upon your individual needs.

Our knowledgeable and friendly staff is here to help you get the most out of your Apple devices, because our mission is simple: to offer you the very best Apple accessories, upgrades and parts possible. We know our way around Apple products devices, not just because we sell them, but because we use them, and we fix them!

Don't have an iPhone or iPad? No problem! We also carry a selection of smart phone and tablet accessories. We have products compatible with Samsung, Microsoft, HTC, LG, Sony and Blackberry devices.</p>	
<h1 style="text-align: center; font-size: 48px;">FROM THE BLOG</h1> <br>
<table>
	<tr>
		<th> One Bad Apple? Top Apple Experts Weigh In on Controversial Slow iPhones</th>
		<th> Slow iPhone: Is It You or Apple?</th>
		<th> Looking for Some Useful Things to Do with Spare Flash Drives? Here Are Some Ideas</th>
	</tr>
	<tr>
		<td>Wed, Apr 11, 2018
[…]

The post One Bad Apple? Top Apple Experts Weigh In on Controversial Slow iPhones appeared first on Macfixit Australia Blog.</td>
		<td>Wed, Apr 11, 2018
[…]	
The post Slow iPhone: Is It You or Apple? appeared first on Macfixit Australia Blog.</td>
		<td>Wed, Mar 07, 2018
[…]

The post Looking for Some Useful Things to Do with Spare Flash Drives? Here Are Some Ideas appeared first on Macfixit Australia Blog.</td>

	</tr>
	<tr>
		<td> <button style="background: orange; width: 110px; height: 42px;"> Read More </button></td>
		<td> <button style="background: orange; width: 110px; height: 42px;"> Read More </button></td>
		<td> <button style="background: orange; width: 110px; height: 42px;"> Read More </button></td>

	</tr>
</table>
</div>
</div>

<div class="col-md-1"> </div>

	
</div>