<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_active_comment">
        <observer name="add_comment_notification" instance="OpenTechiz\Blog\Observer\ActiveComment" />
    </event>
</config>