<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="openteachiz" translate="label" sortOrder="401">
            <label>OpenTechiz</label>
        </tab>
        <section id="blog" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Blog</label>
            <tab>openteachiz</tab>
            <resource>OpenTechiz_Blog::config_blog</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1" translate="label" type="text">
                <label>Comment form</label>
                <field id="sender_email" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="template" translate="label comment" type="select">
                    <label>New comment Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is seleteced</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>