.page-header .header.panel {
	background: #cc0000;
	color: white;
}
.page-header .header.panel a{
	color: white;
}
.header.panel>.header.links>li {
	border-left: 1px white solid;
	margin: 0 0 0 40px !important;

}
.logo img {
	margin-left: 150px !important;
}

.block-search input {
	
}

.nav-sections-item-content>.navigation {
	background: #1b1919;
}

.navigation .level0>.level-top {
	color: white;
}

.navigation .level0>.level-top:hover {
	color: white;
}

.navigation .level0.active>.level-top {
	color: #ea6565;
}
.page-layout-3columns .sidebar-additional
{
	width: 32%;
	padding-right: 60px;
}

.block-search {
	float: left;
	margin-top: 50px;
}